.bar-chart {
  margin: 10px;
  g {
    rect {
      fill: #3f51b5;
    }
    rect:hover {
      fill: #7986cb;
    }
    text {
      fill: #FFFFFF;
      font: 10px sans-serif;
      text-anchor: end;
      opacity: 0.8;
    }
    g {
      text {
        fill: #222222;
        font: 10px sans-serif;
      }
    }
  }
}