<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Ember-D3</h1>
      <div class="row center">
        <h5 class="header col s12 light">Ember D3 components for data visualization</h5>
      </div>
      <div class="row center">
        {{#link-to 'bar-chart' class="btn-large waves-effect waves-light orange"}}Bar chart{{/link-to}}
      </div>
      <div class="row center">
        {{#link-to 'pie-chart' class="btn-large waves-effect waves-light orange"}}Pie chart{{/link-to}}
      </div>
      <br><br>

    </div>
</div>
